<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.khedr.ecommerce">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ecommerce">

        <activity android:name="com.khedr.ecommerce.ui.ProductDetailsActivity"/>
        <activity android:name="com.khedr.ecommerce.ui.CategoryProductsActivity" />
        <activity android:name="com.khedr.ecommerce.ui.CategoriesActivity" />
        <activity android:name="com.khedr.ecommerce.ui.FavoritesActivity" />
        <activity android:name="com.khedr.ecommerce.ui.CartActivity" />
        <activity android:name="com.khedr.ecommerce.ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.khedr.ecommerce.ui.ContactUsActivity" />
        <activity android:name="com.khedr.ecommerce.ui.LoginActivity" />
        <activity android:name="com.khedr.ecommerce.ui.AboutUsActivity" />
        <activity android:name="com.khedr.ecommerce.ui.UpdateProfileActivity" />
        <activity android:name="com.khedr.ecommerce.ui.ProfileActivity" />
        <activity android:name="com.khedr.ecommerce.ui.MainPageActivity" />
        <activity android:name="com.khedr.ecommerce.ui.SignUpActivity" />
    </application>

</manifest>